body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

h2 {
  color: #333;
  margin-bottom: 10px;
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #ffe0e0;
}

li:last-child {
  border-bottom: none;
}

.data-container {
  margin-bottom: 20px;
  background-color: #e0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.data-container h2 {
  margin-top: 0;
}

.data-container ul li::before {
  content: "- ";
  color: #ff69b4;
}

.user-data li {
  background-color: #ff99cc;
}

.account-data li {
  background-color: #99ffcc;
}

.transaction-data li {
  background-color: #ccff99;
}

.budget-data li {
  background-color: #ffcc99;
}

.investment-data li {
  background-color: #99ccff;
}

.debt-data li {
  background-color: #ff99ff;
}

.credit-score-data li {
  background-color: #ccffcc;
}

.financial-goal-data li {
  background-color: #99ff99;
}

.bill-reminder-data li {
  background-color: #ffcc00;
}

.report-data li {
  background-color: #ffcc00;
}